requests>=2.31.0
BeautifulSoup4>=4.12.0
lxml>=4.9.3
selenium>=4.18.1
pandas>=2.1.4
matplotlib>=3.8.2
seaborn>=0.13.2
Flask>=2.2.5
Flask-CORS>=4.0.0
webdriver-manager>=4.0.1
numpy>=1.26.3
openpyxl>=3.1.2